PORT=3939
BIND_HOST=127.0.0.1
PUBLIC_BASE_URL=http://127.0.0.1:3939
BRIDGE_TOKEN=change-me
FLOWIMAGE_SERVER_URL=https://flow-image.like-water.net
FLOWIMAGE_PAIR_CODE=FIMG-K7Q9-M4TN-X8PA-R2CZ-V6DZ-J3WY
