PORT=3939
BIND_HOST=0.0.0.0
PUBLIC_BASE_URL=
HTTPS_CERT_PATH=
HTTPS_KEY_PATH=
FLOWIMAGE_SERVER_URL=https://flow-image.liujinhang.com
FLOWIMAGE_PUBLISH_COMPRESS=1
FLOWIMAGE_PUBLISH_MAX_DIMENSION=1920
FLOWIMAGE_CAPABILITY_UPLOAD_LIMIT=240
FLOWIMAGE_CAPABILITY_UPLOAD_BYTES_LIMIT=629145600
